################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angularjs-Week-Calendar-Directive/Angularjs-Week-Calendar-Directive.sln
